<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;900&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/4f87718eb2.js" crossorigin="anonymous"></script>
  <title>My Restaurant List</title>
  <style>
    html,
    body {
      font-family: 'Lato', 'Noto Sans TC', sans-serif;
    }

    .bg-cover {
      position: relative;
      z-index: -1;
      margin-bottom: -40px;
      background-size: cover;
      background-position: center center;
      filter: blur(2px);
    }

    .search-bar-outer {
      margin: 0 auto;
      padding: 20px;
      width: 600px;
      background-color: rgb(143, 155, 169);
      box-shadow: 0 0 5px 3px rgba(143, 155, 169);
    }

    .input-group .btn {
      height: 40px;
    }

    .restaurant-show-title {
      position: relative;
      margin-top: -60px;
      margin-bottom: 50px;
      color: aliceblue;
      font-style: ;
    }
  </style>
</head>

<body>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        我的餐廳清單
      </a>
    </div>
  </nav>

  <div class="bg-cover"
    style="background-image: url(https://images.unsplash.com/photo-1485182708500-e8f1f318ba72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=910&q=80) ; height:400px">
  </div>



  {{{body}}}

  <div class="text-end mt-3 mb-0" style="background-color: rgb(199, 191, 191);">
    <pre class="mb-0">AC教學作業  版權所有  番yee必救  </pre>
  </div>

  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>